@import "../../assets/styles/colors";

.main {
  align-items: center;
  background: $background;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 76px);
  justify-content: flex-start;
  margin-left: 48px;
  width: calc(100vw - 48px);
}

.container {
  background: $white;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
  justify-content: space-between;
  margin: 24px;
  width: calc(100% - 48px);
  z-index: 1;
}
