$primary: #05a8f4;
$secondary: #5abff5;
$brand-blue: #05a8f4;
$secondary: #80ace0;
$secondary-light: #c4dbf3;
$white: #fff;
$light-grey: #d7d8dc;
$medium-grey: #9ea1ac;
$dark-grey: #656975;
$background: #f1f1f3;
$red: #da291c;
$green: #64b745;
$orange: #f9ac2c;
$primary-light: #6d92cf;
$primary-dark: #003b6f;
